<?xml version="1.0"?>
<config>
    <modules>
        <Icecube_CustomEmailServer>
            <version>1.2.0</version>
        </Icecube_CustomEmailServer>
    </modules>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <customemailserver after="Mage_Adminhtml">Icecube_CustomEmailServer</customemailserver>
                        <customemailserver_grid after="Mage_Adminhtml">Icecube_CustomEmailServer_Adminhtml</customemailserver_grid>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <frontend>
        <routers>
            <ces_test>
                <use>standard</use>
                <args>
                    <module>Icecube_CustomEmailServer</module>
                    <frontName>ces_test</frontName>
                </args>
            </ces_test>
        </routers>
    </frontend>

    <adminhtml>
        <layout>
            <updates>
                <customemailserver>
                    <file>customemailserver.xml</file>
                </customemailserver>
            </updates>
        </layout>
    </adminhtml>

    <global>
        <helpers>
            <customemailserver>
                <class>Icecube_CustomEmailServer_Helper</class>
            </customemailserver>
        </helpers>
        <models>
            <customemailserver>
                <class>Icecube_CustomEmailServer_Model</class>
                <resourceModel>customemailserver_resource</resourceModel>
            </customemailserver>
            <customemailserver_resource>
                <class>Icecube_CustomEmailServer_Model_Resource</class>
                <entities>
                    <log>
                        <table>customemailserver_log</table>
                    </log>
                </entities>
            </customemailserver_resource>
        </models>
        <resources>
            <customemailserver_setup>
                <setup>
                    <module>Icecube_CustomEmailServer</module>
                </setup>
            </customemailserver_setup>
        </resources>
        <blocks>
            <customemailserver>
                <class>Icecube_CustomEmailServer_Block</class>
            </customemailserver>
        </blocks>
        <events>
            <newsletter_send_before>
                <observers>
                    <customemailserver_newsletter_send_before>
                        <class>customemailserver/observer</class>
                        <method>newsletterBefore</method>
                    </customemailserver_newsletter_send_before>
                </observers>
            </newsletter_send_before>
            <newsletter_send_after>
                <observers>
                    <customemailserver_newsletter_send_after>
                        <class>customemailserver/observer</class>
                        <method>newsletterAfter</method>
                    </customemailserver_newsletter_send_after>
                </observers>
            </newsletter_send_after>
            <email_queue_send_before>
                <observers>
                    <customemailserver_queue_send_before>
                        <class>customemailserver/observer</class>
                        <method>queueBefore</method>
                    </customemailserver_queue_send_before>
                </observers>
            </email_queue_send_before>
            <email_queue_send_after>
                <observers>
                    <customemailserver_queue_send_after>
                        <class>customemailserver/observer</class>
                        <method>queueAfter</method>
                    </customemailserver_queue_send_after>
                </observers>
            </email_queue_send_after>
            <email_template_send_before>
                <observers>
                    <customemailserver_template_send_before>
                        <class>customemailserver/observer</class>
                        <method>templateBefore</method>
                    </customemailserver_template_send_before>
                </observers>
            </email_template_send_before>
            <email_template_send_after>
                <observers>
                    <customemailserver_template_send_after>
                        <class>customemailserver/observer</class>
                        <method>templateAfter</method>
                    </customemailserver_template_send_after>
                </observers>
            </email_template_send_after>
            <email_send_before>
                <observers>
                    <customemailserver_email_send_before>
                        <class>customemailserver/observer</class>
                        <method>emailBefore</method>
                    </customemailserver_email_send_before>
                </observers>
            </email_send_before>
            <email_send_after>
                <observers>
                    <customemailserver_email_send_after>
                        <class>customemailserver/observer</class>
                        <method>emailAfter</method>
                    </customemailserver_email_send_after>
                </observers>
            </email_send_after>
        </events>
    </global>
    <default>
        <system>
            <smtp>
                <enc/>
                <auth/>
                <username/>
                <password backend_model="adminhtml/system_config_backend_encrypted"/>
                <test_email_address/>
            </smtp>
        </system>
    </default>
</config>
